@(userForm: Form[User], id: Long)(implicit flash: Flash, lang: Lang, request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@main("Update a User") {
    
    @helper.form(routes.FriendsController.save(id)) {
        
        <fieldset>
            @inputText(userForm("firstName"), '_label -> "First Name")
            @inputText(userForm("lastName"), '_label -> "Last Name")
            @inputText(userForm("email"), '_label -> "Email")
            @inputPassword(userForm("password"), '_label -> "Password")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this user" class="btn primary"> or 
            <a href="@routes.FriendsController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}