@(users: Iterable[User])(implicit flash: Flash, lang: Lang, request: RequestHeader)
@main("Maintain Friends") {


<article  class="users" id="users">
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Email Address</td>
				<td>Last CheckIn Address</td>
				<td></td>
			</tr>
		</thead>
	@for(user <- users) {
		<tr>
			<td><a href="/friends/@user.id">@user.firstName</a></td>
			<td>@user.lastName</td>
			<td>@user.email</td>
			<td>@user.address</td>
			<td><a href="/friends/delete/@user.id" class="btn">Delete</a> </td>
		</tr>
    }
	</table>
</article>

<ul class="nav nav-pills">
	<li><a href="/friends/new">Create</a></li>
</ul>

}
