@(userForm: Form[User])(implicit flash: Flash, lang: Lang, request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@main("Register") {
    
    @helper.form(routes.FriendsController.add()) {
        
        <note>This is a development website -- please do not store sensitive data here.  Use a password that you do not use on critical accounts just in case somebody else comes snooping around here.</note>
        <fieldset>
            @inputText(userForm("firstName"), '_label -> "First Name")
            @inputText(userForm("lastName"), '_label -> "Last Name")
            @inputText(userForm("email"), '_label -> "Email")
            @inputPassword(userForm("password"), '_label -> "Password")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Complete Your Registration" class="btn primary">
        </div>
        
    }
    
}