@(circleForm: Form[Circle])(implicit flash: Flash, lang: Lang, request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@main("Create a Circle of Friends") {
    
    @helper.form(routes.CirclesController.add()) {
        
        <fieldset>
            @inputText(circleForm("name"), '_label -> "Name")
            @inputText(circleForm("ownerId"), '_label -> "Owner ID")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this circle" class="btn primary"> or 
            <a href="@routes.Application.login()" class="btn">Cancel</a> 
        </div>
        
    }
    
}